################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CEN5079/FileContentIndex
/CleaningServicesAPI/.vs/CleaningServices/FileContentIndex
