<!DOCTYPE html>
<html lang="en">
<head>
    <title>Cleaning Services</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css">

    <!--Font Awesome CSS-->
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css">
    <!--County CSS-->
    <link rel="stylesheet" href="~/css/main2.css">

    <!--Bootstrap JS's -->
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!--/Bootstrap JS's -->
    <script src="~/js/main.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://js.stripe.com/v3/"></script>
    <script src="~/lib/stripe/checkout.js" defer></script>
</head>

<body class="d-flex flex-column vh-100 bg-light">
   
    <!-- Begin page content -->
    <main role="main" class="flex-shrink-1" id="content">
        <div class="container ">
            @RenderBody()
          
        </div>

     



    </main>




    <footer class=" footer mt-auto py-3  pb-0  mdc-global-footer mdc-bg-dark-blue text-right">
        <div class="container  ">
            <div class="row">
                <div class="col-lg">
                </div>
                <div class="col-lg-4 mdc-global-footer__logo-copyrights">
                </div>
            </div>
        </div>
    </footer>
    <script>
        $(document).ready(function () {

            $("#checkout").hide();
            $("#prod11").click(function () {
                $("#payBtns").hide();
                $("#checkout").show();
                initialize("price_1OLw9lEU0SXAQ8qqTuuSdOmd");

            });
            $("#prod12").click(function () {
                $("#payBtns").hide();
                $("#checkout").show();
                initialize("price_1OLwDaEU0SXAQ8qq1nxASo9B");

            });
        });

    </script>
</body>
</html>
