<div class="row">
    <div class="col-sm">
        <h1 class="mdc-page-title">Cleaning Services</h1>

        <div class="row">
            <div class="col-3">
            </div>
            <div class="col-4">

                <div id="payBtns">
                    <div class="d-grid gap-2  mx-auto">
                        <button id="prod11" class="btn btn-primary" type="button">Service 1</button>
                        <button id="prod12" class="btn btn-primary" type="button">Service 2</button>
                    </div>
                </div>





            </div>

        </div>
        <div class="col-3">
        </div>
    </div>

</div>

<div class="row">
    <div class="col-3">
    </div>
    <div class="col-4">
        <!-- Display a payment form -->
        <div id="checkout">
            <!-- Checkout will insert the payment form here -->
        </div>

    </div>

</div>
